.logo {
  height: 80px;
  width: 80px;
}

.person {
  height: 60px;
  width: 80px;
}

.align{
  margin-left: 10px;

}

.fill-family {
  margin-right: 15px;
}
.fill-color {
  margin-left: 15px;
}

.right {
  display: flex;
  align-items: center;
  border-bottom:2px solid lightgray;
}

.header {
display: flex;
// align-items: center;
justify-content: space-between;
// top:20px;
margin-bottom: 10px;
}

.example-form-field {
  width: 200px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50rem;
  height: 100vh;
  margin: 0 150px;
  box-sizing: border-box;
  box-shadow: 0 0 1px black;

  :last-child {
    width: 100%;
    height: 100%;
  }
}

.example-selected-value {
  margin: 15px 0;
}


.card-collect {
  width: 100%;
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border: 2px solid black;
  // background-color: lightgray;
  // overflow-y: scroll;
}

.card-list {
  max-width: 200px;
}

.text-font {
  font-size: 8px;
}

.list {
  width: 300px;
}

.btn {
  margin-left: 10px;
}

.button:focus {
  background-color: lightblue;
}

.fontStyle {
  width: 100px;
  height: 10px;
}

.table {
  border: 2px solid black;
  box-sizing: border-box;
}
