<mat-dialog-content class="mat-typography">

  <table class="table">
    <tr class="th" *ngFor="let tr of docService.table">
      <td *ngFor="let td of tr">{{ td }}</td>
    </tr>

  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button (click)="addTable()" mat-button>Добавить</button>
  <!-- <button (click)="removeCol()"  mat-button>Убрать столбец</button>
    <button (click)="addRow()"  mat-button>Добавить строку</button> -->
  <button (click)="removeTable()" mat-button>Убрать</button>
  <button mat-button mat-dialog-close>Ок</button>
</mat-dialog-actions>



